.tituloCitas{
    text-align: center;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: black;
}
.pacifico-regular{
    text-align: center;
}
.custom-table tbody td:hover {
    background-color: #81adef !important;
}
.anton-regular {
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 45px;
}
 
/* Estilo para las celdas de la tabla */
  .custom-table td,
  .custom-table th {
    overflow: hidden; /* Color de texto */
  }

th, td{
    margin-left: 5px;
    text-align: center;
    font-size: 16px;
}
