
    <div class="container">
        <h2 class="tituloCitas">
            Reporte de citas anteriores
        </h2>
        <br>
        <div class="table-responsive">
            @if(!clientes.length){
                <div style="text-align: center;">No hay clientes por el momento</div>
            }
            @else {
                <table class="table table-hover custom-table">
                    <thead>
                        <tr>
                            <th scope="col">Fecha de inicio</th>
                            <th scope="col">Hora de inicio</th>
                            <th scope="col">Fecha de devolución</th>
                            <th scope="col">Hora de devolución</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">A pagar</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Año del automóvil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (cliente of clientes; track cliente) {
                            <tr>
                                <td>{{cliente.fechaCompra}}</td>
                                <td>{{cliente.horaCompra}}</td>
                                <td>{{cliente.fechaDevolucion}}</td>
                                <td>{{cliente.horaDevolucion}}</td>
                                <td>{{cliente.nombre}}</td>
                                <td>{{cliente.correo}}</td>
                                <td>{{cliente.precio}}</td>
                                <td>{{cliente.tipoVehiculo}}</td>
                                <td>{{cliente.anio}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

