footer{
    padding: 15px;
    overflow-x: hidden !important;
    overflow-y: auto;     
    
}

.fab{
    font-size: 50px !important;
    margin-left: 29px !important;
}

.redes-sociales i {
    font-size: 24px;
    margin-right: 20px;
  }
  
.copyright {
    margin-top: 10px;
    height: 1px; 
    background-color:rgb(39, 37, 37);
}

/* Estilos para las redes sociales */
.redes-sociales-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .social-icons {
    display: flex !important;
    justify-content: space-around;
    width: 100%;
    max-width: 200px;
    margin-right: 170px !important;
  }
  .social-icons a {
    color: #000; /* Cambia el color de los iconos según sea necesario */
  }
  
  .social-icons a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
  }
  
  /* Estilos para centrar el logotipo en dispositivos móviles */
.logo-footer {
  text-align: center; /* Centra horizontalmente el contenido */
  margin-bottom: 20px; /* Agrega un espacio en la parte inferior del logotipo */
}

 