/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  /* Ajustar el tamaño de la imagen */
  .img-fluid {
      max-width: 100%;
      height: auto;
  }

  /* Alinear el botón de regresar al centro */
  .btn-outline-danger {
      margin: 10px auto;
      display: block;
  }

  /* Ajustar el tamaño del texto */
  p {
      font-size: 16px;
  }
}

/* Estilos para el contenedor principal */
.body {
  padding: 20px;
}/* Estilos generales para dispositivos móviles y de escritorio */
.row {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos de la fila se envuelvan en múltiples líneas */
}

/* Estilos para el contenedor de la imagen y el botón de regresar */
.col-md-4.text-center {
  margin-bottom: 20px; /* Espacio entre la imagen y el botón */
  padding: 20px; /* Espacio interno */
  text-align: center; /* Centrar el contenido */
}

/* Estilos para la imagen */
.col-md-4.text-center img {
  max-width: 100%; /* Ajustar la imagen al ancho del contenedor */
  height: auto; /* Mantener la proporción de la imagen */
}

/* Estilos para el botón de regresar */
.col-md-4.text-center .btn-outline-danger {
  width: 100%; /* Ajustar el ancho del botón al contenedor */
}

/* Estilos para el contenedor de la información del vehículo */
.col-md-8 {
  background-color: #f9f9f96f; /* Fondo */
  padding: 20px; /* Espacio interno */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para los detalles del vehículo */
.col-md-8 p {
  margin-bottom: 10px; /* Espacio entre los párrafos */
}


.body{
    overflow-x: hidden !important; /* Oculta la barra de desplazamiento horizontal */
}
.animate_bounce{
  text-align: center;
 font-size: 60px;
}
p{
  font-size: 20px;
}