<div class="body">
   <h1 class="animate_animated animate_bounce"><strong>{{vehiculo.marca}} - <small>{{vehiculo.modelo}}</small></strong></h1>
    <hr>
    <div class="row animated fadeIn fast">
        <div class="col-md-4 text-center">
            <img width="600px" src="{{vehiculo.imagen}}" alt="" class="img-fluid">
            <br><br>
            <a [routerLink]="['/vehiculos']" class="btn btn-outline-danger btn-block">Regresar</a>
        </div>

        <div class="col-md-8">
            <!--<h3>{{vehiculo.marca}}</h3>-->
            <hr>
            <p><strong>Tipo:</strong> {{vehiculo.tipo}}</p>
            <p><strong>Aire Acondicionado:</strong> {{vehiculo.aire_acondicionado}}</p>
            <p><strong>Año:</strong> {{vehiculo.ano}}</p>
            <p><strong>Mantenimiento: </strong> {{vehiculo.mantenimiento}}</p>
            <p><strong>Precio: </strong> {{vehiculo.precio}}</p>
            
        </div>
    </div>
</div>
