 /* Estilos para el logo y el nombre */
 .navbar-brand img {
    width: 40px; /* Ajustar según el tamaño del logo */
    margin-right: 10px;
}
.navbar-brand p {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Color del texto */
    margin: 0;
}
/* Estilos para los enlaces de navegación */
.navbar-nav a {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Color del texto */
    margin-right: 20px;
    text-decoration: none;
}
.navbar-nav a:hover {
    color: #007bff; /* Color al pasar el mouse */
}

/* Estilos CSS para el formulario de búsqueda */
.navbar-form {
    display: flex;
    align-items: center;
  }
  
  .navbar-search-input {
    flex: 1; /* El campo de búsqueda se expandirá para ocupar todo el espacio disponible */
    margin-right: 10px; /* Espaciado entre el campo de búsqueda y el botón */
  }
  
  .navbar-search-button {
    min-width: 100px; /* Ancho mínimo del botón de búsqueda */
  }
  