/*body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;

}
.container {
    margin: 50px auto;
    background-color: #87bddf;
    padding: 13px;
}
h1 {
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.creditos {
    margin-top: 30px;
}
.creditos ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.creditos ul li {
    width: calc(50% - 10px);
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 40px;
    box-shadow: 6px 12px 5px rgba(33, 77, 149, 0.514);
    position: relative;
    transition: transform 0.3s ease;
}
.creditos ul li:hover {
    transform: translateY(-5px);
}
.nombre {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}
.avatar {
    width: 115px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    top: 12px;
    right: 30px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar:hover {
    transform: scale(1.1);
}
.avatar-mini {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    position: absolute;
    top: 20px;
    left:20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.avatar-mini img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.avatar-mini:hover {
    transform: scale(1.1);
}

+/

.nombre {
      font-weight: bold;
    }
    .avatar img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-bottom: 10px;
    }
    .avatar-mini img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 10px;
    }
    /* Estilos para el contenedor de créditos */
/* Estilos personalizados */
.integrante {
    text-align: center;
    margin-bottom: 20px;
  }
  .integrante img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  .integrante .automovil {
    width: 100%; /* Ajusta el ancho para que ocupe todo el espacio disponible */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-height: 100%; /* Establece una altura máxima para evitar que la imagen sea demasiado grande */
    margin-bottom: 10px;
  }
  
  body {
    background-image: url('../../assets/car-1281640_1280\ \(1\).jpg'); /* Reemplaza 'https://example.com/path-to-your-image.jpg' con la URL de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
 .container {
      background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente para mejorar la legibilidad */

    }
p{
    font-weight: bold; /* Aplica negrita */
}