
.card {
  margin: 10px;
}

.card-columns {
  column-count: 5; 
}

@media screen and (max-width: 1200px) {
  .card-columns {
      column-count: 4;
  }
}

@media screen and (max-width: 992px) {
  .card-columns {
      column-count: 3;
  }
}

@media screen and (max-width: 768px) {
  .card-columns {
      column-count: 2;
  }
}

@media screen and (max-width: 576px) {
  .card-columns {
      column-count: 1;
  }
}
