<div class="card-columns">
  <div *ngFor="let item of array; let i = index" class="card mb-4">
    <img [src]="item.url" class="card-img-top" alt="Image">
    <div class="card-body">
      <h5 class="card-title">{{ item.title }}</h5>
      <p class="card-text">{{ item.description }}</p>
      <button type="button" class="btn btn-primary" (click)="incrementLikesCount(i)">
        <i class="far fa-thumbs-up"></i> Me gusta
      </button><br>
      <span>{{ item.likesCount }} personas les gusta esto</span>
    </div>
  </div>
</div>
