.encabezado {
    background-image: linear-gradient(to bottom, rgba(83, 90, 97, 0.8), rgba(0, 123, 255, 0.5)),url('https://cdn.pixabay.com/photo/2019/12/17/17/06/engineer-4702051_1280.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh; /* La altura se ajusta al tamaño de la ventana del navegador */
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

.texto-encabezado {
    max-width: 600px !important;
    margin: 0 auto;
}

.texto-encabezado h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.texto-encabezado p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 1px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.row{
margin-left: auto;
}

a {
    display: block; /* Hace que el enlace esté en una línea separada */
    text-align: center; /* Centra el texto del enlace */
    margin-top: 20px; /* Espaciado superior del enlace */
    color: #007bff; /* Establece el color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}
.btn-outline-danger{
 color: crimson;
}
.btn-outline-danger:hover{
    color: white;
}

.container {
    max-width: 1200px; /* Ancho máximo de la página */
    margin: 0 auto; /* Centra el contenedor en la pantalla */
    padding: 10px; /* Añade espacio alrededor del contenido */
    margin-right: 15px !important;
}

.form-group {
    margin-bottom: 10px; /* Espaciado entre grupos de campos */
}

label {
    font-weight: bold; /* Aplicar negrita */
    display: block; /* Hace que las etiquetas estén en una línea separada */
    margin-bottom: 8px; /* Espaciado inferior de las etiquetas */
}


input[type="date"],
input[type="time"],
input[type="text"],
input[type="email"],
input[type="number"] {
    width: 100%; /* Ajusta el ancho de los campos de entrada */
    padding: 8px; /* Ajusta el relleno interior de los campos de entrada */
    font-size: 16px; /* Ajusta el tamaño del texto de los campos de entrada */
    border-radius: 5px; /* Agrega esquinas redondeadas a los campos de entrada */
    border: 1px solid #ccc; /* Agrega un borde a los campos de entrada */
}

button.btn-primary {
    width: 100%; /* Ajusta el ancho del botón */
    padding: 10px; /* Ajusta el relleno del botón */
    font-size: 18px; /* Ajusta el tamaño del texto del botón */
    border: none; /* Elimina el borde del botón */
    background-color: #007bff; /* Establece el color de fondo del botón */
    color: #fff; /* Establece el color del texto del botón */
    border-radius: 5px; /* Agrega esquinas redondeadas al botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

button.btn-primary:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón al pasar sobre él */
}

a {
    display: block; /* Hace que el enlace esté en una línea separada */
    text-align: center; /* Centra el texto del enlace */
    margin-top: 20px; /* Espaciado superior del enlace */
    color: #007bff; /* Establece el color del texto del enlace */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

@media (max-width: 768px) {
    .body {
        padding: 10px; /* Añade un poco de espacio alrededor del contenido */
        overflow-x: hidden !important;
    }
    .card {
        margin-bottom: 20px; /* Añade espacio entre las tarjetas */
    }
    .col-sm-6 {
        margin-bottom: 20px; /* Añade espacio entre las columnas */
    }
}  
.body{
    overflow-x: hidden !important; /* Oculta la barra de desplazamiento horizontal */
}
.animate_animated{
    text-align: center;
}