<div class="body"><header class="encabezado">
  <div class="texto-encabezado">
      <h1  style="letter-spacing: 10px; margin-top: 40px;">AUTOS DE <strong style="color:rgb(10, 63, 107);">CUALQUIER</strong> VARIEDAD</h1>
      <p style="text-align: center;">Tu destino para el lujo sobre ruedas</p>
  </div>
</header>

<main>
  <section id="mision">
      <h2>Misión</h2>
      <p>Nuestra misión es ofrecer una experiencia de conducción incomparable al proporcionar automóviles de lujo que combinan la más alta calidad, innovación y elegancia.</p>
  </section>

  <section id="vision">
      <h2>Visión</h2>
      <p>Nuestra visión es ser reconocidos como líderes en la industria automotriz de lujo, superando constantemente las expectativas de nuestros clientes y estableciendo nuevos estándares de excelencia.</p>
  </section>

  <section id="objetivos">
      <h2>Objetivos</h2>
      <ul>
          <li>Ofrecer una gama exclusiva de vehículos que reflejen el lujo y la sofisticación.</li>
          <li>Proporcionar un servicio al cliente excepcional, personalizado y orientado a la satisfacción total.</li>
          <li>Innovar continuamente en tecnología, diseño y sostenibilidad para mantenernos a la vanguardia de la industria.</li>
          <li>Establecer alianzas estratégicas que fortalezcan nuestra presencia global y nos permitan llegar a nuevos mercados.</li>
          <li>Promover la responsabilidad social corporativa y contribuir al bienestar de nuestras comunidades.</li>
      </ul>
  </section>
</main>
<app-creditos></app-creditos>

  <!--<footer class="bg-dark text-white text-center py-3">
    <div class="container">
    <p>Elevando el estándar del lujo en cada viaje.</p>
    <p>&copy; 2024 Autos Lujosos. Todos los derechos reservados.</p>
   </div>
  </footer>-->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

</div>

