

.encabezado {
  background-image: 
      linear-gradient(to bottom, rgba(0, 123, 255, 0.8), rgba(0, 123, 255, 0.5)),
      url('https://cdn.pixabay.com/photo/2021/09/25/10/08/road-6654573_1280.jpg');
  background-size: cover;
  background-position: center;
  height: 250px; /* Ajusta la altura según tu preferencia */
  text-align: center;
  color: white; /* Color del texto */
  padding-top: 50px; /* Espacio superior para el texto */
}
.card {
  transition: transform 0.3s, background-color 0.3s, color 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  background-color: #007bff;
  color: white;
}
.three-icons{
  background-color:rgb(97, 157, 206);
  height: 400px;
}

.hade-vertical{
  width: 106px;
  text-align: center;
}
.contenido {
  background-image: url('../../assets/HADEHGRIS.png');
  background-position: center; /* Centra la imagen horizontal y verticalmente */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding: 20px; /* Agrega espacio alrededor del texto para que no esté pegado a los bordes */
  background-size: contain; /* Ajusta el tamaño de la imagen para que quepa completamente dentro del contenedor */
}

/* Estilos CSS para las secciones en dispositivos móviles */
@media (max-width: 768px) {
.three-icons {
  padding: 2px;
}
.three-icons .contenido {
  margin-bottom: 2px;
}

.three-icons h2 {
  font-size: 1.5rem;
}

.three-icons .icons {
  margin-bottom: 5px;
}
.three-icons  {
  height: 620px;
}

.three-icons .card-body {
  padding: 0.5rem;
}

.three-icons .card i {
  margin-bottom: 1px;
}
}

@keyframes resaltar {
from {
  background-color: transparent; 
}
to {
  background-color: #48a7e7; 
}
}

td:hover {
animation: resaltar 0.5s alternate infinite !important; 
}

/* Estilos CSS para la tabla en dispositivos móviles */
@media (max-width: 768px) {
.text-table-top{
  margin-bottom: 1px !important; /* Mueve el div hacia abajo */
  margin-top: -35px;
}
.fondo-4-3 {
  padding: 10px;
  margin: 0px;
  margin-top: 2px; /* Mueve el div hacia abajo */
}
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table tbody + tbody {
  border-top: 2px solid #dee2e6;
}

.table .table {
  background-color: #fff;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive.table-bordered {
  border: 0;
}
}

/* Estilos adicionales para la tabla en dispositivos móviles */
.estiloIcono {
text-align: center;
}

.textoTabla {
text-align: left;
}
