
    <div id="container">
        <h2 class="tituloCitas">
            Listado de citas que estan por cumplir
        </h2>
        <br>
            @if(!clientes.length){
                <div style="text-align: center;">No hay clientes por el momento</div>
            }
            @else {
                <div><div class="table-responsive">
                    <table class="table table-hover custom-table">
                        <thead>
                            <tr>
                                <th scope="col">Fecha de Renta </th>
                                <th scope="col">Hora de Renta</th>
                                <th scope="col">Fecha de Devolucion</th>
                                <th scope="col">Hora de Devolucion</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Precio</th>
                                <th scope="col">Tipo de vehiculo</th>
                                <th scope="col">Año</th>
                            
                            </tr>
                        </thead>
                        <tbody>
                        @for (cliente of clientes; track cliente) {
                            <tr>
                                <th>{{cliente.fechaCompra}}</th>
                                <td>{{cliente.horaCompra}}</td>
                                <th>{{cliente.fechaDevolucion}}</th>
                                <td>{{cliente.horaDevolucion}}</td>
                                <th>{{cliente.nombre}}</th>
                                <td>{{cliente.correo}}</td>
                                <td>{{cliente.precio}}</td>
                                <td>{{cliente.tipoVehiculo}}</td>
                                <td>{{cliente.anio}}</td>
                            </tr>
                        }
                    </tbody>
                    </table>
                </div>
            </div>
            }
    </div>


