<div class="body">
  <header class="encabezado">
  <div class="texto-encabezado">
    <h1 style="color:rgb(10, 63, 107); letter-spacing: 10px; margin-top: 40px;">NUESTRA FLOTA<strong style="color: white;"> DE AUTOS</strong></h1>
    <p>Explora nuestra selección de vehículos nuevos y usados.</p>
  </div>
</header>
<!--
<div class="grid">
  <div class="grid-item"></div>
  <div class="grid-item grid-item--width2"></div>
  <div class="grid-item grid-item--height2"></div>
  ...
</div>-->
<br>
  <div class="container position-relative text-center">
    <div class="position-absolute top-50 start-50 translate-middle">
      <h2 style="color: black !important;" class="text-white">Obtenga los <strong>Mejores Precios</strong></h2>
    </div>
  </div>
  <div class="text-center">
    <br>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <!-- Botones para filtrar por tipo -->
      
<mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
  <mat-button-toggle value="red" type="button"  [ngClass]="{'active': tipoFiltro === 'todos'}" (click)="filtrarTipo('todos')">Todos</mat-button-toggle>
  <mat-button-toggle value="green" type="button"  [ngClass]="{'active': tipoFiltro === 'economico'}" (click)="filtrarTipo('economico')">Economico</mat-button-toggle>
  <mat-button-toggle value="blue" type="button"  [ngClass]="{'active': tipoFiltro === 'intermedio'}" (click)="filtrarTipo('intermedio')">Intermedio</mat-button-toggle>
  <mat-button-toggle value="gray" type="button"  [ngClass]="{'active': tipoFiltro === 'premium'}" (click)="filtrarTipo('premium')">Premium</mat-button-toggle>
  
</mat-button-toggle-group>
<!--
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': tipoFiltro === 'todos'}" (click)="filtrarTipo('todos')">Todos</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': tipoFiltro === 'economico'}" (click)="filtrarTipo('economico')">Económico</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': tipoFiltro === 'intermedio'}" (click)="filtrarTipo('intermedio')">Intermedio</button>
      <button type="button" class="btn btn-secondary" [ngClass]="{'active': tipoFiltro === 'premium'}" (click)="filtrarTipo('premium')">Premium</button>
    -->
      <div class="btn-group" role="group">
        
        <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Filtrar
        </button>
        <ul class="dropdown-menu">
          <button type="button"  (click)="establecerCriterioOrdenamiento('precioAsc')">Precio: Menor a Mayor</button>
          <button type="button"  (click)="establecerCriterioOrdenamiento('precioDesc')">Precio: Mayor a Menor</button>
          <button type="button"  (click)="establecerCriterioOrdenamiento('anoAsc')">Año: Más Viejo a Más Nuevo</button>
          <button type="button"  (click)="establecerCriterioOrdenamiento('anoDesc')">Año: Más Nuevo a Más Viejo</button>
        </ul>
      </div>
    </div>
   
    
</div>

  <br><br>
  <div class="card-group row row-cols-1 row-cols-lg-3 g-4">
    <!-- Filtrar los carros basado en el tipo seleccionado -->
    @for (h of vehiculosOrdenados; track h; let i = $index) {
      <div class="col">
        <div class="card h-100 border-light mb-3">
          <img src="{{h.imagen}}" class="card-img-top" alt="Imagen del vehículo">
          <div class="card-body bg-light">
            <h5 class="card-title"><strong>{{h.marca}}</strong></h5>
            <p class="card-text"><strong>{{h.tipo}}</strong></p>
            <table class="table table-striped table-sm">
              <tbody>
                <tr>
                  <td><i class="fas fa-car"></i> <br><strong>Modelo</strong> {{ h.modelo }}</td>
                  <td><i class="fas fa-snowflake"></i><br> <strong>Aire Acondicionado</strong> {{ h.aire_acondicionado }}</td>
                  <td><i class="fas fa-user"></i><br> <strong>Personas</strong> {{ h.cantidad_personas }}</td>
                  <td><i class="fas fa-suitcase"></i><br> <strong>Maletas</strong> {{ h.cantidad_maletas }}</td>
                  <td><i class="fas fa-dollar-sign"></i><br> <strong>Precio</strong> {{ h.precio}}</td> 
                </tr>
              </tbody>
            </table>
            <button [routerLink]="['/vehiculo', i]" class="btn btn-outline-primary">Ver más</button> <br><br>
            <button [routerLink]="['/reserva', i]" class="btn btn-success btn-reserva">Reserva</button>
          </div>
        </div>
      </div>
    }
  </div>
</div>
  <br>
    <br>
