.body{
  overflow-x: hidden !important; /* Oculta la barra de desplazamiento horizontal */
}
.card-body {
  padding: 20px;
  height: 350px;
}

.table-striped tbody tr:hover {
  background-color: #007bff; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color del texto al pasar el mouse */
}
td{
  text-align: center;
}
.btn-reserva {
  width: 100%; /* Hace que el botón ocupe todo el ancho del contenedor */
  margin-top: 10px; /* Agrega espacio encima del botón */
}
.btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
.table-sm {
  font-size: 0.8rem; /* Reducir el tamaño de la fuente */
}
.card-title{
  text-align: center;
  font-size: 29px;
}
.card-text{
  text-align: center;
  color: #039BE5;
}
.btn-group{
  text-align: center;
}
/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
  .body{
    overflow-x: hidden !important; /* Oculta la barra de desplazamiento horizontal */
}

  .texto-encabezado {
    text-align: center; /* Centra el texto en dispositivos móviles */
    margin-top: 20px; /* Ajusta el margen superior */
  }
  
  h1 {
    font-size: 1.5rem; /* Reduce el tamaño del título */
    letter-spacing: 5px; /* Ajusta el espaciado entre letras */
    margin-bottom: 10px; /* Ajusta el margen inferior */
    margin-top: 20px !important; /* Ajusta el margen superior */
  }
  
  p {
    font-size: 0.9rem; /* Reduce el tamaño del párrafo */
  }
}
.encabezado {
  background-image: 
      linear-gradient(to bottom, rgba(0, 123, 255, 0.8), rgba(0, 123, 255, 0.5)),
      url('https://cdn.pixabay.com/photo/2023/10/26/15/11/mercedes-8342911_1280.jpg');
  background-size: cover;
  background-position: center;
  height: 250px; /* Ajusta la altura según tu preferencia */
  text-align: center;
  color: white; /* Color del texto */
  padding-top: 50px; /* Espacio superior para el texto */
  overflow-y: hidden; /* Oculta la barra de desplazamiento vertical */
}

.texto-encabezado {
    max-width: 800px; /* Ancho máximo del texto */
    margin: 0 auto; /* Centra horizontalmente */
}

.texto-encabezado h1 {
    font-size: 2.5em; /* Tamaño del título */
    margin-bottom: 20px; /* Espacio inferior del título */
}

.texto-encabezado p {
    font-size: 1.2em; /* Tamaño del texto */
}
  h1 {
    text-align: center;
  }

  h3 {
    text-align: center;
    color: #888;
  }

  nav {
    text-align: center;
    margin-top: 20px;
  }
  nav a {
    padding: 15px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    font-size:24px;
    margin-right: 5px;;
    }
    nav a:visited, a:link {
    color: #607D8B
    }
    nav a:hover{
    color: #039BE5;
    background-color: #CFD8DC;
    }
    nav a:active{
    color: #039BE5;
    }

  .menu-link {
    text-decoration: none;
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    margin-right: 20px; /* Espacio entre enlaces */
    transition: color 0.3s; /* Transición suave para el color */
  }

  .menu-link:hover {
    color: #555; /* Cambiar el color al pasar el ratón */
  }

  .active {
    font-weight: bold; /* Resaltar el enlace activo */
    color: #000; /* Color del enlace activo */
  }


.grid-item {
    float: left;
    width: 80px;
    height: 60px;
    border: 2px solid hsla(0, 0%, 0%, 0.5);
  }
  
  .grid-item--width2 { width: 160px; }
  .grid-item--height2 { height: 140px; }


  .btn-reserva {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    height: 50px; /* Ajusta la altura del botón según sea necesario */
    line-height: 5px; /* Ajusta la altura de línea para centrar el texto verticalmente */
}

.card:hover .btn-reserva {
    opacity: 1;
    transform: translateY(0);
}

.container {
    background-image: url('../../assets/HADEHGRIS.png');
    background-position: center; /* Centra la imagen horizontal y verticalmente */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 60px; /* Agrega espacio alrededor del texto para que no esté pegado a los bordes */
    background-size: contain; /* Ajusta el tamaño de la imagen para que quepa completamente dentro del contenedor */
}