footer {
    background-color: #ffffff; /* Color de fondo */
    padding: 20px 0; /* Espacio interior */
    
  }
  /* Estilos para los iconos de redes sociales */
  .redes-sociales i {
    font-size: 24px;
    margin-right: 10px;
  }
  .card{
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .card:hover {
    background-color: #007bff; /* Cambia el color de fondo al azul */
  }

  .card:hover .card-text,
  .card:hover i {
    color: white; /* Cambia el color del texto y el icono a blanco*/
  }

  /* Estilos para la sección con fondo */
  .fondo {
    background-image: url('../../assets/mercedes-benz2.jpg');
    background-size: cover;
    background-position: center;
    color: white; /* Color del texto */
    text-align: center;
    padding: 100px 0; /* Espacio interior */
    width: 100%; /* Abarcar todo el ancho de la página */
    position: relative; /* Asegurar que el contenido sea relativo */
    z-index: 1;
  }

  .container-2 {
    background-color: rgba(52, 48, 48, 0.8); /* Cambiar la opacidad del color de fondo */
    color: white; /* Color del texto */
    padding: 50px; /* Ajustar el espacio interior */
    position: relative; /* Asegurar que el contenido sea relativo */
    z-index: 1 !important;
    height: 500px; /* Aumentar la altura */
    margin-right: -0px; /* Ajustar el margen derecho */
  }

  .pha, li{
    list-style-type: none;
    font-size: 15px;
    color: rgb(149, 143, 143);
  }

.fab{
    font-size: 5px !important;
    margin-left: 29px !important;
}
.Red-social {
    text-align: center;
}
.copyright {
    margin-top: 10px;
    height: 1px; 
    background-color:rgb(39, 37, 37);
}


@media (max-width: 768px) {
  .body {
    overflow-x: hidden !important; /* Oculta la barra de desplazamiento horizontal */
  }
  
  .text-contener{
    margin-top: -20px;
    
  }
    /* Encabezado */
  .texto-encabezado h1 {
    letter-spacing: 5px;
    margin-top: 20px; /* Reducido el margen superior */
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
  }
  
  .texto-encabezado p {
    font-size: 0.9rem; /* Tamaño de fuente ajustado */
  }
  
  /* Carrusel de Imágenes */
  .carousel-item img {
    max-height: 300px; /* Tamaño máximo de la imagen reducido */
  }
  
  /* Sección de Contenido Principal */
  .container-2 h2 {
    font-size: 1.8rem; /* Tamaño de fuente ajustado */
  }
  
  .container-2 h6 {
    font-size: 1.1rem; /* Tamaño de fuente ajustado */
  }
  
  .container-2 ul li {
    font-size: 0.9rem; /* Tamaño de fuente ajustado */
  }
  
  .imagen-full {
    max-width: 100%;
    height: auto; /* Imagen se ajusta proporcionalmente */
  }
  /* Sección "RENTA A PRECIOS FLEXIBLES Y SIN CARGOS OCULTOS" */
  .fondo h1 {
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
  }
  
  .fondo p {
    font-size: 0.9rem; /* Tamaño de fuente ajustado */
  }
  
  .order-2{
    margin-top: 20px;
  }
  
  .order-1{
    margin-top: -40px;
  }
  
  .three-cars{
    margin-right: 10px !important;
  }
  
  
  }